{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}All the Cookie Stands{% endblock %}</title>
 <script src="https://cdn.tailwindcss.com"></script>
</head>
<!-- Change the body background to a darker color -->
<body class="bg-gray-800 text-white">
<header>
  <!-- Adjust the navigation to fit the dark theme better -->
  <nav class="bg-gray-900 px-2 sm:px-4 py-2.5 rounded">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a href="{% url 'home' %}">
              <img src="{% static 'cf-brand.png' %}" class="p-3 h-12 bg-gray-900 rounded" alt="Logo" />
          </a>
          <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}" class="block py-2 pl-3 pr-4 bg-gray-700 rounded md:bg-transparent md:p-0" aria-current="page">Log Out</a>
              </li>
              {% else %}
              <li>
                <a href="{% url 'login' %}" class="block py-2 pl-3 pr-4 bg-gray-700 rounded md:bg-transparent md:p-0" aria-current="page">Log In</a>
              </li>
            {% endif %}

              <li>
                <a href="{% url 'about' %}" class="block py-2 pl-3 pr-4 hover:bg-gray-600 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">About</a>
              </li>
              {% if request.user.is_authenticated %}
                <li>
                <a href="{% url 'cookieStand_list' %}" class="block py-2 pl-3 pr-4 hover:bg-gray-600 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">List</a>
                </li>
                 <li>
                <a href="{% url 'cookieStand_create' %}" class="block py-2 pl-3 pr-4 hover:bg-gray-600 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Create</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
</header>
<main>
<div class="container mx-auto mt-4">
  {% block content %}
  {% endblock content %}
</div>
</main>
<footer
      class="bg-gray-700
             text-white
             fixed
             inset-x-0
             bottom-0
             p-2">
      &copy; CodeFellows 2023
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>
