{% extends "base.html" %}
{% load static %}

{% block title %}All the Cookie Stands - Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="space-y-8">

      <h2 class="text-4xl text-indigo-500">Hi {{ user.username }}!</h2>
      <p class="text-indigo-400">Maybe one day you'll see a glorious home page here.</p>
      <p class="text-indigo-400">But for now, just notice that List and Create are in the Nav bar.</p>
    </div>

  {% else %}

    <div class="">
      <div class="hero-content flex bg-red-900 p-4 space-x-4">
        
        <img src="{% static 'Ube-Cookies.jpg' %}" class="max-w-sm rounded-lg shadow-2xl"/>
        <div class="bg-yellow-200 p-4">
          <h1 class="text-5xl font-bold text-purple-600">Cookie Stand</h1>
          <p class="text-2xl p-6 text-purple-400">Indulge in Every Bite, Sweet Memories Guaranteed!</p>
          <a href="{% url 'login' %}" class="text-purple-600 bg-pink-500 hover:bg-pink-600 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-pink-800">Get Started</a>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}

